/* Estilos para o corpo da página */
body {
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: #ddd;
    font-family: "Helvetica Neue", sans-serif;
    color: #444;
    line-height: 1.5;
  }
  
  /* Estilos para o <main> */
  main {
    background-color: white;
    padding: 20px;
  }
  
  /* Estilos para os títulos <h1> e <h2> */
  h1, h2 {
    color: rgb(140, 76, 8);
  }
  
  /* Estilos para as seções */
  section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
  }
  
  /* Estilos adicionais para tabelas */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid gray;
  }
  
  caption {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  figure {
    margin: 20px 0;
  }
  
  figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
  }
  